.cart-wrapper .summary__promo,
.cart-wrapper .products .item__info,
.cart-wrapper .products .item__text-desc,
.cart-wrapper .products .item__text-category,
.cart-wrapper .products__header-current-page,
.cart-wrapper .products__header-input,
.cart-wrapper__empty .empty__desc {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

.cart-wrapper .summary__products,
.cart-wrapper .summary__price,
.cart-wrapper .summary__products-promo,
.cart-wrapper .summary__price-promo,
.cart-wrapper .products .item__text-brand {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
}

.cart-wrapper .products .item__number,
.cart-wrapper .products__header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
}

.cart-wrapper .summary__header,
.cart-wrapper .products__header-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
}

.cart-wrapper .summary__submit {
  width: 200px;
  height: 50px;
  background-color: #70908b;
  color: #e0eff6;
  box-shadow: 0px 4px 5px 2px rgba(143, 201, 192, 0.3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 1920px) {
  .cart-wrapper .summary__submit {
    width: calc(100px + 100 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .cart-wrapper .summary__submit {
    height: calc(30px + 20 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .summary__submit::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #07484a;
  z-index: 1;
  transition: 0.2s ease;
  border-radius: 5px;
}
.cart-wrapper .summary__submit:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #07484a;
  z-index: 1;
  transition: 0.2s ease;
}

.cart-wrapper {
  width: 100%;
}
.cart-wrapper .cart-hide {
  display: none;
}
.cart-wrapper__empty {
  width: 580px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1920px) {
  .cart-wrapper__empty {
    width: calc(100px + 480 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .cart-wrapper__empty {
    margin-top: calc(100px + -50 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper__empty .empty__image {
  width: 500px;
}
@media (max-width: 1920px) {
  .cart-wrapper__empty .empty__image {
    width: calc(150px + 350 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper__empty .empty__desc {
  margin-top: 20px;
  text-align: center;
  color: #07484a;
  font-size: 36px;
}
@media (max-width: 1920px) {
  .cart-wrapper__empty .empty__desc {
    margin-top: calc(30px + -10 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .cart-wrapper__empty .empty__desc {
    font-size: calc(15px + 21 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper__fill {
  width: 90%;
  max-width: 1728px;
  margin: 2% auto;
  display: flex;
  align-items: start;
  gap: 2%;
}
.cart-wrapper .products {
  flex: 0 0 70%;
  border: 2px solid #70908b;
  border-radius: 5px;
}
.cart-wrapper .products__header {
  height: 5vh;
  color: #e0eff6;
  background-color: #70908b;
  font-size: 22px;
  display: flex;
  gap: 1%;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1920px) {
  .cart-wrapper .products__header {
    font-size: calc(10px + 12 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .products__header-title {
  font-size: 25px;
  color: #fff7ee;
  flex-grow: 1;
  padding: 0 10px;
}
@media (max-width: 1920px) {
  .cart-wrapper .products__header-title {
    font-size: calc(10px + 15 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .products__header-label {
  position: relative;
}
.cart-wrapper .products__header-label::after {
  content: attr(data-title);
  position: absolute;
  top: 50px;
  left: 40px;
  z-index: 5;
  font-size: 17px;
  width: 360px;
  text-align: center;
  background: #07484a;
  border-radius: 5px;
  padding: 14px 20px;
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.34s linear;
  color: #fff;
  box-shadow: 0 5px 12px #ccc;
  pointer-events: none;
}
@media (max-width: 1920px) {
  .cart-wrapper .products__header-label::after {
    font-size: calc(10px + 7 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .cart-wrapper .products__header-label::after {
    width: calc(150px + 210 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .products__header-label.wrong::after {
  opacity: 1;
}
.cart-wrapper .products__header-label.wrong.focus::after {
  -webkit-animation: 1s ease-in-out 0s trambling-animation;
  animation: 1s ease-in-out 0s trambling-animation;
}
@-webkit-keyframes trambling-animation {
  0%,
  50%,
  100% {
    background-color: #07484a;
  }
  10%,
  30% {
    background-color: #70908b;
  }
  20%,
  40% {
    background-color: #e0eff6;
  }
}
@keyframes trambling-animation {
  0%,
  50%,
  100% {
    background-color: #07484a;
  }
  10%,
  30% {
    background-color: #70908b;
  }
  20%,
  40% {
    background-color: #e0eff6;
  }
}
.cart-wrapper .products__header-input {
  width: 30px;
  text-align: center;
  color: #07484a;
  margin-right: 15px;
}
.cart-wrapper .products__header-current-page {
  min-width: 20px;
  text-align: center;
}
.cart-wrapper .products__header-next {
  margin-right: 10px;
}
.cart-wrapper .products__header-next,
.cart-wrapper .products__header-prev {
  cursor: pointer;
}
.cart-wrapper .products__header-next:disabled,
.cart-wrapper .products__header-prev:disabled {
  cursor: default;
}
.cart-wrapper .products__list {
  padding: 0;
  margin: 0;
}
.cart-wrapper .products .item {
  height: 17vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  padding: 0 2%;
  border-top: 1px solid #70908b;
}
.cart-wrapper .products .item__number {
  flex: 0 0 3%;
  text-align: center;
  font-size: 40px;
}
@media (max-width: 1920px) {
  .cart-wrapper .products .item__number {
    font-size: calc(12px + 28 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .products .item__image {
  width: 100%;
  max-width: 120px;
  border: 1px solid #70908b;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 1920px) {
  .cart-wrapper .products .item__image {
    max-width: calc(30px + 90 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .products .item__text {
  flex-grow: 1;
  display: flex;
  align-self: start;
  margin-top: 1%;
  flex-direction: column;
  cursor: pointer;
}
.cart-wrapper .products .item__text-brand {
  font-size: 28px;
  border-bottom: 1px solid #70908b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1920px) {
  .cart-wrapper .products .item__text-brand {
    font-size: calc(12px + 16 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .products .item__text-category {
  padding-right: 10px;
  font-size: 22px;
}
@media (max-width: 1920px) {
  .cart-wrapper .products .item__text-category {
    font-size: calc(10px + 12 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .products .item__text-desc {
  font-size: 26px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
@media (max-width: 1920px) {
  .cart-wrapper .products .item__text-desc {
    font-size: calc(10px + 16 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .products .item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex: 0 0 10%;
  color: #07484a;
  font-size: 20px;
}
@media (max-width: 1920px) {
  .cart-wrapper .products .item__info {
    font-size: calc(10px + 10 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .products .item .controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-wrapper .products .item .controls-del,
.cart-wrapper .products .item .controls-add {
  cursor: pointer;
}
.cart-wrapper .products .item .controls-amount {
  text-align: center;
  min-width: 1.5em;
}
.cart-wrapper .summary {
  flex: 0 0 30%;
  border: 2px solid #70908b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.cart-wrapper .summary__header {
  height: 5vh;
  line-height: 4vh;
  text-align: center;
  color: #fff7ee;
  background-color: #70908b;
  font-size: 25px;
}
@media (max-width: 1920px) {
  .cart-wrapper .summary__header {
    font-size: calc(12px + 13 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .summary__products,
.cart-wrapper .summary__price,
.cart-wrapper .summary__products-promo,
.cart-wrapper .summary__price-promo {
  margin: 4% 0;
  text-align: center;
  font-size: 32px;
  color: #70908b;
}
@media (max-width: 1920px) {
  .cart-wrapper .summary__products,
  .cart-wrapper .summary__price,
  .cart-wrapper .summary__products-promo,
  .cart-wrapper .summary__price-promo {
    font-size: calc(12px + 20 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .summary__products span,
.cart-wrapper .summary__price span,
.cart-wrapper .summary__products-promo span,
.cart-wrapper .summary__price-promo span {
  color: #07484a;
}
.cart-wrapper .summary .cross-out {
  text-decoration: line-through;
}
.cart-wrapper .summary__promo {
  margin: 5% 0 2% 0;
  text-align: center;
  font-size: 25px;
  color: #07484a;
}
@media (max-width: 1920px) {
  .cart-wrapper .summary__promo {
    font-size: calc(9px + 16 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .summary__promo-input {
  margin: 2% 0;
}
.cart-wrapper .summary__promo-input:focus.valid {
  outline: none;
  border: 2px solid green;
  box-shadow: 0px 0px 2px green;
}
.cart-wrapper .summary__promo .valid {
  border: 2px solid green;
}
.cart-wrapper .summary__promo-apply {
  font-size: 23px;
  cursor: pointer;
}
@media (max-width: 1920px) {
  .cart-wrapper .summary__promo-apply {
    font-size: calc(7px + 16 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .summary__promo-apply:disabled {
  cursor: default;
}
.cart-wrapper .summary__promo-test {
  font-size: 18px;
}
@media (max-width: 1920px) {
  .cart-wrapper .summary__promo-test {
    font-size: calc(6px + 12 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .summary__promo .applied {
  width: 80%;
  margin: 10px auto 0;
  font-size: 20px;
  border: 1px solid #70908b;
}
@media (max-width: 1920px) {
  .cart-wrapper .summary__promo .applied {
    font-size: calc(8px + 12 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .summary__promo .applied-header {
  padding: 2px 0;
  color: #e0eff6;
  background-color: #70908b;
}
.cart-wrapper .summary__promo .applied-code {
  padding: 2px 0;
  border-top: 1px solid #70908b;
}
.cart-wrapper .summary__promo .applied-drop {
  font-size: 18px;
  cursor: pointer;
}
@media (max-width: 1920px) {
  .cart-wrapper .summary__promo .applied-drop {
    font-size: calc(6px + 12 * ((100vw - 320px) / (1920 - 320)));
  }
}
.cart-wrapper .summary__submit {
  margin: 5% 0;
  align-self: center;
}
.cart-wrapper .summary__submit span {
  position: relative;
  z-index: 2;
} /*# sourceMappingURL=cart.css.map */
