.bread-crumbs {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
}

.product__details-description :last-child {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

.product__details-price,
.product__details-name .name-text,
.product__details-stock :last-child,
.product__details-description :last-child,
.product__details-type :last-child,
.product__details-category :last-child,
.product__details-stock :first-child,
.product__details-description :first-child,
.product__details-type :first-child,
.product__details-category :first-child {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}

.product__details-buy-now-button,
.product__details-add-button,
.product__details-remove-button {
  width: 200px;
  height: 50px;
  background-color: #70908b;
  color: #e0eff6;
  box-shadow: 0px 4px 5px 2px rgba(143, 201, 192, 0.3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 1920px) {
  .product__details-buy-now-button,
  .product__details-add-button,
  .product__details-remove-button {
    width: calc(100px + 100 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .product__details-buy-now-button,
  .product__details-add-button,
  .product__details-remove-button {
    height: calc(30px + 20 * ((100vw - 320px) / (1920 - 320)));
  }
}
.product__details-buy-now-button::before,
.product__details-add-button::before,
.product__details-remove-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #07484a;
  z-index: 1;
  transition: 0.2s ease;
  border-radius: 5px;
}
.product__details-buy-now-button:hover::before,
.product__details-add-button:hover::before,
.product__details-remove-button:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #07484a;
  z-index: 1;
  transition: 0.2s ease;
}

.product__details-stock,
.product__details-description,
.product__details-type,
.product__details-category {
  display: flex;
  align-items: center;
}
.product__details-stock :first-child,
.product__details-description :first-child,
.product__details-type :first-child,
.product__details-category :first-child {
  font-size: 28px;
  color: #70908b;
  margin: 0 5px 0 0;
}
@media (max-width: 1920px) {
  .product__details-stock :first-child,
  .product__details-description :first-child,
  .product__details-type :first-child,
  .product__details-category :first-child {
    font-size: calc(12px + 16 * ((100vw - 320px) / (1920 - 320)));
  }
}
.product__details-stock :last-child,
.product__details-description :last-child,
.product__details-type :last-child,
.product__details-category :last-child {
  font-size: 28px;
  color: #07484a;
}
@media (max-width: 1920px) {
  .product__details-stock :last-child,
  .product__details-description :last-child,
  .product__details-type :last-child,
  .product__details-category :last-child {
    font-size: calc(12px + 16 * ((100vw - 320px) / (1920 - 320)));
  }
}

.product__wrapper {
  width: 90%;
  max-width: 1728px;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (max-width: 1920px) {
  .product__wrapper {
    gap: calc(10px + 25 * ((100vw - 320px) / (1920 - 320)));
  }
}

.bread-crumbs {
  width: 60%;
  margin: 0 auto;
  font-size: 25px;
  color: #07484a;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1920px) {
  .bread-crumbs {
    font-size: calc(12px + 13 * ((100vw - 320px) / (1920 - 320)));
  }
}
.bread-crumbs .crumb {
  cursor: pointer;
}
.bread-crumbs .crumb:hover {
  color: #70908b;
}

.product__details {
  width: 100%;
  border: 2px solid #07484a;
  border-radius: 5px;
  background-color: #fff7ee;
  display: grid;
  grid-template: [start] 'main_img main_img main_img name name' 0.3fr [row2] [row2] 'main_img main_img main_img categ categ' 0.3fr [row3] [row3] 'main_img main_img main_img type price' 0.3fr [row4] [row4] 'main_img main_img main_img desc add_del' 0.5fr [row5] [row5] 'img1 img2 img3 stock buy' 0.5fr [end]/0.8fr 0.8fr 0.8fr 1fr 1fr;
}
.product__details-thumbnail {
  max-width: 95%;
  max-height: 70vh;
  align-self: center;
  justify-self: center;
  grid-area: main_img;
  border: 1px solid #07484a;
  margin: 1% 0;
  border-radius: 5px;
}
.product__details-image1,
.product__details-image2,
.product__details-image3 {
  max-width: 90%;
  max-height: 25vh;
  justify-self: center;
  align-self: center;
  border: 1px solid #07484a;
  border-radius: 5px;
  cursor: pointer;
}
.product__details-image1 {
  grid-area: img1;
}
.product__details-image2 {
  grid-area: img2;
}
.product__details-image3 {
  grid-area: img3;
}
.product__details-name {
  grid-area: name;
  display: flex;
  align-items: center;
}
.product__details-name .name-text {
  font-size: 37px;
  color: #07484a;
}
@media (max-width: 1920px) {
  .product__details-name .name-text {
    font-size: calc(18px + 19 * ((100vw - 320px) / (1920 - 320)));
  }
}
.product__details-category {
  grid-area: categ;
}
.product__details-type {
  grid-area: type;
}
.product__details-description {
  grid-area: desc;
  align-self: center;
  flex-direction: column;
}
.product__details-description :first-child {
  align-self: start;
}
.product__details-description :last-child {
  font-size: 18px;
  color: #07484a;
}
@media (max-width: 1920px) {
  .product__details-description :last-child {
    font-size: calc(10px + 8 * ((100vw - 320px) / (1920 - 320)));
  }
}
.product__details-stock {
  grid-area: stock;
}
.product__details-price {
  grid-area: price;
  align-self: center;
  justify-self: center;
  font-size: 45px;
  color: #07484a;
}
@media (max-width: 1920px) {
  .product__details-price {
    font-size: calc(22px + 23 * ((100vw - 320px) / (1920 - 320)));
  }
}
.product__details-add-button,
.product__details-remove-button {
  grid-area: add_del;
  align-self: center;
  justify-self: center;
}
.product__details-add-button span,
.product__details-remove-button span {
  position: relative;
  z-index: 2;
}
.product__details-buy-now-button {
  grid-area: buy;
  align-self: center;
  justify-self: center;
}
.product__details-buy-now-button span {
  position: relative;
  z-index: 2;
}
.product__details .product-hide {
  display: none;
} /*# sourceMappingURL=product.css.map */
