<div class="modal__wrapper">
  <div class="modal__header">Enter your personal data</div>
  <form action="#" class="modal__form">
    <input type="text" class="modal__form-name modal-input" placeholder="Full name" required />
    <input type="tel" class="modal__form-tel modal-input" placeholder="Phone number" required />
    <input type="text" class="modal__form-adress modal-input" placeholder="Delivery adress" required />
    <input type="email" class="modal__form-email modal-input" placeholder="E-mail" required />
    <div class="modal__form-credit-card credit-card">
      <div class="credit-card__header">Enter card details</div>
      <div class="credit-card__body">
        <img src="../../assets/img/unknown-card.png" alt="unknown credit card" class="credit-card__body-image" />
        <input type="text" class="credit-card__body-number" placeholder="card number" />
        <label for="exp-date" class="credit-card__body-date-label">Exp.date:</label>
        <input type="text" id="exp-date" class="credit-card__body-date" placeholder="MM/YY" />
        <label for="cvv" class="credit-card__body-cvv-label">CVV:</label>
        <input type="text" id="cvv" class="credit-card__body-cvv" placeholder="cvv" />
      </div>
    </div>
    <div class="modal__form-validity modal-hide">Name must consists of two words!</div>
    <input type="submit" value="Confirm" class="modal__form-submit" />
  </form>
</div>
