.modal__form .credit-card__header, .modal__header {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

.modal-complete {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
}

.modal__form-submit {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.modal__wrapper {
  width: 40%;
  max-height: 85vh;
  overflow: auto;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #07484a;
  border-radius: 5px;
  background-color: #fff7ee;
}
.modal__header {
  margin: 2% 0;
  font-size: 28px;
  color: #07484a;
}
@media (max-width: 1920px) {
  .modal__header {
    font-size: calc(10px + 18 * ((100vw - 320px) / (1920 - 320)));
  }
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__form .modal-input {
  width: 85%;
  border: 1px solid #70908b;
  border-radius: 10px;
  padding: 5px;
  margin: 2% 0 0 0;
  background-color: transparent;
  text-align: center;
  font-size: 25px;
}
@media (max-width: 1920px) {
  .modal__form .modal-input {
    font-size: calc(9px + 16 * ((100vw - 320px) / (1920 - 320)));
  }
}
.modal__form .modal-input::-moz-placeholder {
  text-align: center;
}
.modal__form .modal-input:-ms-input-placeholder {
  text-align: center;
}
.modal__form .modal-input::placeholder {
  text-align: center;
}
.modal__form .credit-card__header {
  margin: 2% 0;
  text-align: center;
  font-size: 25px;
  color: #07484a;
}
@media (max-width: 1920px) {
  .modal__form .credit-card__header {
    font-size: calc(8px + 17 * ((100vw - 320px) / (1920 - 320)));
  }
}
.modal__form .credit-card__body {
  width: 80%;
  padding: 3%;
  margin: 0 auto;
  border: 1px solid #fff7ee;
  border-radius: 5px;
  background: linear-gradient(90deg, #70908b, #07484a);
  display: grid;
  grid-template: [start] "imag number number number number number number number" 1fr [row2] [row2] "label_date label_date date date label_cvv label_cvv cvv cvv" 1fr [end]/1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5%;
}
.modal__form .credit-card__body-image {
  grid-area: imag;
  width: 100%;
  align-self: center;
}
.modal__form .credit-card__body-number, .modal__form .credit-card__body-date, .modal__form .credit-card__body-cvv {
  max-height: 30px;
  font-size: 24px;
  align-self: center;
  background-color: transparent;
  border: 1px solid #fff7ee;
  padding: 5px 0;
  text-align: center;
  color: #fff7ee;
}
@media (max-width: 1920px) {
  .modal__form .credit-card__body-number, .modal__form .credit-card__body-date, .modal__form .credit-card__body-cvv {
    max-height: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .modal__form .credit-card__body-number, .modal__form .credit-card__body-date, .modal__form .credit-card__body-cvv {
    font-size: calc(8px + 16 * ((100vw - 320px) / (1920 - 320)));
  }
}
.modal__form .credit-card__body-number::-moz-placeholder, .modal__form .credit-card__body-date::-moz-placeholder, .modal__form .credit-card__body-cvv::-moz-placeholder {
  color: #fff7ee;
}
.modal__form .credit-card__body-number:-ms-input-placeholder, .modal__form .credit-card__body-date:-ms-input-placeholder, .modal__form .credit-card__body-cvv:-ms-input-placeholder {
  color: #fff7ee;
}
.modal__form .credit-card__body-number::placeholder, .modal__form .credit-card__body-date::placeholder, .modal__form .credit-card__body-cvv::placeholder {
  color: #fff7ee;
}
.modal__form .credit-card__body-number {
  grid-area: number;
}
.modal__form .credit-card__body-date-label {
  grid-area: label_date;
  align-self: center;
  text-align: end;
  font-size: 26px;
}
@media (max-width: 1920px) {
  .modal__form .credit-card__body-date-label {
    font-size: calc(8px + 18 * ((100vw - 320px) / (1920 - 320)));
  }
}
.modal__form .credit-card__body-date {
  grid-area: date;
}
.modal__form .credit-card__body-cvv-label {
  grid-area: label_cvv;
  align-self: center;
  text-align: end;
  font-size: 26px;
}
@media (max-width: 1920px) {
  .modal__form .credit-card__body-cvv-label {
    font-size: calc(8px + 18 * ((100vw - 320px) / (1920 - 320)));
  }
}
.modal__form .credit-card__body-cvv {
  grid-area: cvv;
}
.modal__form-validity-card div, .modal__form-validity-name div, .modal__form-validity-tel div, .modal__form-validity-adress div, .modal__form-validity-email div {
  margin: 2% auto 0;
  padding: 0 3%;
  text-align: center;
  font-size: 23px;
  color: red;
  font-weight: 700;
}
@media (max-width: 1920px) {
  .modal__form-validity-card div, .modal__form-validity-name div, .modal__form-validity-tel div, .modal__form-validity-adress div, .modal__form-validity-email div {
    font-size: calc(10px + 13 * ((100vw - 320px) / (1920 - 320)));
  }
}
.modal__form-submit {
  margin: 4% auto 2%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: #70908b;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  width: 200px;
  height: 50px;
}
.modal__form-submit:hover {
  background-color: #07484a;
}
.modal__form-submit:active {
  opacity: 0.9;
}
@media (max-width: 1920px) {
  .modal__form-submit {
    width: calc(100px + 100 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media (max-width: 1920px) {
  .modal__form-submit {
    height: calc(30px + 20 * ((100vw - 320px) / (1920 - 320)));
  }
}
.modal-complete {
  margin: 5% 0;
  font-size: 35px;
  color: #07484a;
}
@media (max-width: 1920px) {
  .modal-complete {
    font-size: calc(14px + 21 * ((100vw - 320px) / (1920 - 320)));
  }
}/*# sourceMappingURL=modal.css.map */