@import '../../styles/variables';
// @import './styles/normalize';

.header__wrapper {
  width: 100%;
  max-height: 100px;
  min-height: 60px;
  height: calc(60px + (40 + 40 * 1 / 5) * ((100vw - 320px) / 1920));
  background-color: $primary-color;
  padding: 0 calc(20px + (30 + 30 * 1 / 5) * ((100vw - 320px) / 1920));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 144px;
  min-width: 72px;
  max-height: 36px;
  min-height: 18px;
  width: calc(72px + (72 + 72) * ((100vw - 320px) / 640));
  height: calc(18px + (18 + 18) * ((100vw - 320px) / 640));
  background-image: url('../../assets/img/logo_main.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.header__total-cost {
  //   @extend %Playfair-Display-700;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  //  ==================================
  font-size: clamp(18px, 4vw, 30px);
  color: $dark-color;
}

.cart {
  max-width: 144px;
  min-width: 72px;
  max-height: 36px;
  min-height: 18px;
  width: calc(72px + (72 + 72) * ((100vw - 320px) / 640));
  height: calc(18px + (18 + 18) * ((100vw - 320px) / 640));
  display: flex;
  justify-content: right;
  align-items: center;
}

.cart__logo {
  max-width: 36px;
  min-width: 18px;
  max-height: 36px;
  min-height: 18px;
  width: calc(18px + (18 + 18) * ((100vw - 320px) / 640));
  height: calc(18px + (18 + 18) * ((100vw - 320px) / 640));
  background-image: url('../../assets/img/logo_cart.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
  cursor: pointer;
}

.cart__number {
  // @extend %Open-Sans-700;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  //  ==================================
  font-size: clamp(14px, 3vw, 18px);
  max-width: 25px;
  min-width: 9px;
  max-height: 25px;
  min-height: 9px;
  width: calc(16px + (9 + 25) * ((100vw - 320px) / 640));
  height: calc(16px + (9 + 25) * ((100vw - 320px) / 640));
  background-color: $dark-color;
  color: $primary-color;
  line-height: 120%;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.cart__number_invisible {
  display: none;
}